/* MAIN HEADER */
.app-header {
  background-color: #fffdf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: black;
  overflow: hidden;
  width: 100%;
}

/* TITLE (NAME) */
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Young Serif", serif;
  font-size: 5vmin;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  transition: transform 0.2s ease; /* Add a transition for smooth animation */
}

.smile:hover {
  animation: bounce 0.4s ease; /* Apply the bounce animation on hover */
}

@keyframes bounce {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.1); /* Scale up halfway through */
  }
  100% {
    transform: scale(1); /* Back to original scale */
  }
}

.last-name {
  padding-left: 5px;
}

.first-name, .last-name {
  white-space: nowrap;
}

.smile {
  width: 12vmin;
  height: auto;
}


/* GRID BOX */
.grid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130px;
  background-color: #FFF8F0;
  border: 3px solid black;
  border-radius: 20px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  box-shadow: 0 8px 0px rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.grid-box-text {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: max(5vmin, 30px);
  color: black;
  text-align: center;
}

.grid-box-icon {
  height: auto;
  margin-right: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 65%;
  max-width: 1000px;
}

.grid-box:hover {
  background-color: #fff5f0;
  box-shadow: -8px 7px 0px rgba(0, 0, 0, 1);
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/* COPYRIGHT */
.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.copyright {
  font-family: "Lexend", sans-serif;
  font-size: 15px;
  color: gray;
}